@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}

:root {
    font-size: 20px;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px; /* 2倍のサイズ */
    letter-spacing: 1.2em; /* 文字間 */
    text-shadow: 2px 2px 4px #aaa; /* 影 */
    border-bottom: 3px solid rgb(115, 115, 114); /* 下線 */
    color: black; /* 初期の色設定 */
}

h1::first-letter {
    color: skyblue;
}

h1 span {
    color: rgb(255, 192, 203); /* Pの色 */
}

.pink {
    color: rgb(255, 192, 203);
}

.skyblue {
    color: skyblue;
}

p:not(#basic > p) {
    font-weight: normal;
}

