@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}
:root {
    --base-font-size: 20px; 
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(var(--base-font-size) * 2);
    letter-spacing: 1.2em; 
    text-shadow: 2px 2px 4px #aaa;
    border-bottom: 3px solid rgb(115, 115, 114);
    color: black;
}
h1::first-letter {
    color: skyblue;
}
h1 span {
    color: rgb(255, 192, 203);
}
.pink {
    color: rgb(255, 192, 203);
}
.skyblue {
    color: skyblue;
}
#basic p {
    font-weight: bold;
}
p:not(#basic > p) {
    font-weight: normal;
}